#root {
  margin: 0;
  padding: 0;
  text-align: initial;
  min-height: 100%;
  width: 100%;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: #000000;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent 100vw + scrollbar from creating side gap */
}
