#root {
  margin: 0;
  padding: 0;
  text-align: initial;
  min-height: 100%;
  width: 100%;
}
@media (max-width: 900px) {
  #root {
    padding: 0.7rem;
  }
  html, body {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  #root {
    padding: 0.3rem;
  }
  html, body {
    font-size: 13px;
  }
}
html, body {
  height: 100%;
  width: 100%;
  background-color: #000000;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent 100vw + scrollbar from creating side gap */
}
